extends layouts/main.pug

block dashboard
    h5 Dashboard
    h3 Welcome #{name}
    p Here are your stories
    if stories.length
        table
            thead
                tr
                    th Title
                    th Date
                    th Status
                    th
            tbody
                 each story of stories
                    tr
                        td
                            a(href='/stories/#{story._id}')
                            span #{story.title}
                        td
                            span #{moment(story.createdAt).format('MMMM Do YYYY, h:mm:ss a')}
                        td
                            span.dash-status #{story.status}
                        td
    else
        p You haven't created any stories
