extends layouts/main.pug

block dashboard
    h5.dashboard Dashboard
    h3.dashboard Welcome #{name}
    p.dashboard Here are your stories
    if stories.length
        table
            thead
                tr
                    th Title
                    th Date
                    th Status
                    th Action
            tbody
                each story of stories
                    tr
                        td
                            a(href=`/stories/${story._id}`)
                                span #{story.title}
                        td
                            span #{moment(story.createdAt).format('MMMM Do YYYY, h:mm:ss a')}
                        td
                            span.dash-status #{story.status}
                        td.action
                            a.btn(href=`/stories/edit/${story._id}`)
                                i.fa-solid.fa-square-pen

                            form#delete-form(action=`/stories/${story._id}`, method="POST")
                                input(type="hidden", name="_method" value="DELETE")
                                button.btn.red.accent-4(type="submit")
                                    i.fa-solid.fa-trash-can
    else
        p.dashboard You haven't created any stories
